# Created by venv; see https://docs.python.org/3/library/venv.html
*
!.gitignore
!content/
!content/nonideal_simulation.tex
!figures/
!figures/nonideal_rlc_simulation.pdf
!figures/nonideal_rlc_simulation.png
!simulate_rlc.py
